@import url('ddokddak.css');

/* ===================== main sector ==================== */
.mainWrap{
    margin:0;
    padding:0;
    width:100%;
    margin-bottom:3vw;
}
.mainWrap>h2{
    color:white;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    margin:2vw auto 3vw;
}
.mainBox>img{
    width:100%;
}
.mainBox>h6{
    color:yellow;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    margin:3vw auto 3vw;
}
.mainBox>p{
    color:white;
    text-align:center;
    font-size:16px;
    padding:0 25vw;
    line-height:32px;
}
/* ===================== main sector ==================== */