@import url('ddokddak.css');

.mainWrap{
    margin:0;
    padding:0;
    width:100%;
}
.mainWrap>.mainBox{
    width:40%;
    margin:0 auto;
}
.mainBox>h3{
    color:white;
    font-size:36px;
    text-align:center;
    margin:2vw auto 3vw;
}
.mainBox>h6{
    color:white;
    font-size:24px;
    text-align:center;
    margin:2vw auto 3vw;
}
.mainBox>h6::before, .mainBox>h6::after{
    content:'★★';
}
.mainBox>p{
    color:white;
    font-size:16px;
    text-align:center;
    padding-bottom:12px; 
}
.mainBox>p>span{
    color:yellow;
    font-size:xx-large;

}
